layout_python3
eval `modulecmd bash load base catapult/2022.2 vcs verdi/S-2021.09-SP1`
export LD_LIBRARY_PATH=/cad/mentor/2021.1/Mgc_home/lib:/cad/mentor/2021.1/Mgc_home/shared/lib:$PATH
export VG_GNU_PACKAGE=/cad/synopsys/vcs_gnu_package/S-2021.09/gnu/linux
source /cad/synopsys/vcs_gnu_package/S-2021.09/gnu/linux/source_me.sh
