build
pybuild
data/resnet
datafile/
data/sst2_eval/step*
data/sst2_train/step*
.direnv
.vscode
test_outputs/
logs/
novas*
*.fsdb*
ucli.key
verdiLog/
__pycache__
*.py[cod]
.venv
.env
.swp
models/resnet/binary_data
models/resnet/model_data/*pkl