[submodule "lib/universal"]
	path = lib/universal
	url = https://github.com/stillwater-sc/universal.git
[submodule "lib/matplotlib-cpp"]
	path = lib/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "zagzig"]
	path = zagzig
	url = git@code.stanford.edu:fpedd/zagzig.git
