build
pybuild
data/resnet
.direnv
.vscode
test_outputs/
test_outputs_e2e/
logs/
novas*
*.fsdb*
ucli.key
verdiLog/
__pycache__
*.py[cod]
venv
.env
.swp
models/resnet/binary_data*
models/resnet/model_data/*
!models/resnet/model_data/*.pth
datafile
test/resnet/*
!test/resnet/ResNet.cc
!test/resnet/ResNet.h
!test/resnet/params.h
!test/resnet/resnet_networks.py
test/mobilebert/*
!test/mobilebert/MobileBERT.cc
!test/mobilebert/MobileBERT.h
!test/mobilebert/params.h
!test/mobilebert/mobilebert_networks.py
!test/mobilebert/legacy